# Dependencias de Node.js
node_modules/
npm-debug.log

# Archivos de entorno
.env
.env.local

# Archivos de configuración de Vite (si lo usas)
.vite/
dist/

# Archivos de configuración de Tailwind CSS
.tailwindcss/

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de compilación o producción
build/
public/build/

# Carpetas de pruebas
tests/